<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <h1> Login 页面</h1>

    <!-- <form action="/login" method="post" enctype="application/x-www-form-urlencoded"> -->
        <div>用户名： <input type="text" name="username" id="username"/></div>
        <div>密码： <input type="password" name="password" id="password"/></div>
        <div><input type="submit" value="登录" id="login"/></div>
    <!-- </form> -->

    <p class="error"><%=error%></p>
    <p class="error"><%=isShow ? '用户名和密码错误' : ''%></p>
    <script src="/js/login.js"></script>
</body>
</html>