body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}


.inline {
    display: inline-block;
    width: 200px;
}

td img {
    width: 30px;
    height: 30px;
}